name: Terraform Infra Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'infra/**'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.0
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Terraform Init
        working-directory: infra/envs/dev
        run: terraform init -input=false

      - name: Terraform Validate
        working-directory: infra/envs/dev
        run: terraform validate

      - name: Terraform Plan
        working-directory: infra/envs/dev
        run: terraform plan -input=false -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve tfplan
      
      - name: Save Terraform outputs
        run: terraform output -json > tf_outputs.json
        working-directory: infra/envs/dev

      - name: Upload outputs
        uses: actions/upload-artifact@v4
        with:
            name: tf-outputs
            path: infra/envs/dev/tf_outputs.json
  